@namespace BitBlazor.Components
@using BitBlazor.Utilities

<CascadingValue Value="this">
    <button type="@ButtonTypeString"
            class="@ComputedCssClasses"
            @onclick="OnClick"
            disabled="@Disabled"
            @attributes="attributes">
        @if (HasIcon(IconPosition.Start))
        {
            @IconFragment
        }

        @ChildContent

        @if (HasIcon(IconPosition.End))
        {
            @IconFragment
        }
    </button>
</CascadingValue>

@code {
    private RenderFragment IconFragment => IconRounded
        ? @<span class="rounded-icon"><BitIcon IconName="@Icon" Color="ComputeIconColor()" /></span>
        : @<BitIcon IconName="@Icon" Color="ComputeIconColor()" CssClass="@(IconPosition is IconPosition.Start ? "me-1" : "ms-1")"/>;
}
