@namespace BitBlazor.Form
@inherits BitFormComponentBase<string?>

<div class="form-group">
    <label for="@Id" class="@ComputeLabelCssClass()">@Label</label>
    <InputText Value="@Value"
               ValueChanged="ValueChanged"
               ValueExpression="ValueExpression"
               class="@ComputeInputCssClass()"
               type="text"
               name="@Id"
               disabled="@Disabled"
               readonly="@(Readonly || Plaintext)"
               @attributes="AdditionalAttributes"
               @onchange="@UpdateLabelActiveState"
               @onfocus="@(() => SetLabelActiveState(true))"
               @onblur="@UpdateLabelActiveState"/>
    @if (For is not null)
    {
        <ValidationMessage For="For" class="is-invalid" />
    }
</div>

@code {

}
