@namespace BitBlazor.Components

@inherits BitComponentBase

<nav class="@ComputeContainerCssClass()" aria-label="@Description" @attributes="AdditionalAttributes">
    <ul class="pagination">
        <BitPageItem Disabled="Disabled" PageItemClicked="MoveToPreviousPageAsync">
            <BitIcon Color="IconColor.Primary" IconName="@Icons.ItChevronLeft" />
            <span class="visually-hidden">@PreviousPageLabel</span>
        </BitPageItem>

        <CascadingValue Value="this">
            @foreach (var pageItem in GetPageSequence())
            {
                if (pageItem is null)
                {
                    <li class="page-item">
                        <span class="page-link">...</span>
                    </li>
                }
                else
                {
                    <BitPageItem Page="pageItem" Disabled="Disabled" PageItemClicked="@(() => ChangePageAsync(pageItem.Value))">
                        @pageItem
                    </BitPageItem>
                }
            }
        </CascadingValue>

        <BitPageItem Disabled="Disabled" PageItemClicked="MoveToNextPageAsync">
            <span class="visually-hidden">@NextPageLabel</span>
            <BitIcon Color="IconColor.Primary" IconName="@Icons.ItChevronRight" />
        </BitPageItem>
    </ul>
</nav>
