@namespace BitBlazor.Components

@inherits BitComponentBase

<nav class="@ComputeContainerCssClass()" aria-label="@Description" @attributes="AdditionalAttributes">
    <ul class="pagination">
        <li class="@ComputePreviousPageItemCssClass()">
            <a class="page-link" href="#" @onclick:preventDefault @onclick="MoveToPreviousPageAsync">
                <BitIcon Color="IconColor.Primary" IconName="@Icons.ItChevronLeft" />
                <span class="visually-hidden">@PreviousPageLabel</span>
            </a>
        </li>

        <CascadingValue Value="this">
            @foreach (var page in GetPageSequence())
            {
                if (page is null)
                {
                    <li class="page-item">
                        <span class="page-link">...</span>
                    </li>
                }
                else
                {
                    <BitPageItem Page="page.Value" Disabled="IsPageDisabled(page.Value)" />
                }
            }
        </CascadingValue>

        <li class="@ComputeNextPageItemCssClass()">
            <a class="page-link" href="#" @onclick:preventDefault @onclick="MoveToNextPageAsync">
                <span class="visually-hidden">@NextPageLabel</span>
                <BitIcon Color="IconColor.Primary" IconName="@Icons.ItChevronRight" />
            </a>
        </li>
    </ul>
</nav>
