@namespace BitBlazor.Components

@inherits BitComponentBase

<nav class="@ComputeContainerCssClass()" aria-label="@Description" @attributes="AdditionalAttributes">
    <ul class="pagination">
        <CascadingValue Value="this">
            <BitPageItem Disabled="Disabled" PageItemClicked="MoveToPreviousPageAsync">
                @RenderPreviousPage()
            </BitPageItem>

            @foreach (var pageItem in GetPageSequence())
            {
                if (pageItem is null)
                {
                    <li class="page-item">
                        <span class="page-link">...</span>
                    </li>
                }
                else
                {
                    <BitPageItem Page="pageItem" Disabled="Disabled" PageItemClicked="@(() => ChangePageAsync(pageItem.Value))">
                        @pageItem
                    </BitPageItem>
                }
            }

            <BitPageItem Disabled="Disabled" PageItemClicked="MoveToNextPageAsync">
                @RenderNextPage()
            </BitPageItem>
        </CascadingValue>
    </ul>
    @if (TotalItemsTemplate is not null)
    {
        <p>@TotalItemsTemplate</p>
    }
</nav>

@code {
    private RenderFragment RenderPreviousPage()
    {
        if (PreviousPageTemplate is not null)
        {
            return PreviousPageTemplate;
        }

        return __builder =>
        {
            <BitIcon Color="IconColor.Primary" IconName="@Icons.ItChevronLeft" />
            <span class="visually-hidden">@PreviousPageLabel</span>
        };
    ;
    }

    private RenderFragment RenderNextPage()
    {
        if (NextPageTemplate is not null)
        {
            return NextPageTemplate;
        }

        return __builder =>
        {
            <span class="visually-hidden">@NextPageLabel</span>
            <BitIcon Color="IconColor.Primary" IconName="@Icons.ItChevronRight" />
        };
    }
}
