@attribute [Stories("Components/BitButton")]

<Stories TComponent="BitButton">

    <ArgType For="_ => _.Color" Control="ControlType.Select" />
    <ArgType For="_ => _.Size" Control="ControlType.Select" DefaultValue="Size.Default" />
    <ArgType For="_ => _.Type" Control="ControlType.Select" DefaultValue="ButtonType.Button" />
    <ArgType For="_ => _.IconPosition" Control="ControlType.Select" DefaultValue="IconPosition.Start" />
    <ArgType For="_ => _.Variant" Control="ControlType.Select" DefaultValue="Variant.Solid" />

    <Story Name="Default">

        <Arguments>
            <Arg For="_ => _.Color" Value="Color.Primary" />
            <Arg For="_ => _.Variant" Value="Variant.Solid" />
        </Arguments>

        <Template>
            <div class="py-2 px-2">
                <BitButton @attributes="context.Args">Default</BitButton>
            </div>
        </Template>

    </Story>

    <Story Name="Colors">
        <Template>
            <div class="py-2 px-2">
                <div class="mb-2">
                    <BitButton Color="Color.Primary">Primary</BitButton>
                    <BitButton Color="Color.Primary" Variant="Variant.Outline">Primary outline</BitButton>
                    <BitButton Color="Color.Primary" Disabled="true">Primary disabled</BitButton>
                    <BitButton Color="Color.Primary" Variant="Variant.Outline" Disabled="true">Primary outline disabled</BitButton>
                </div>
                <div class="mb-2">
                    <BitButton Color="Color.Secondary">Secondary</BitButton>
                    <BitButton Color="Color.Secondary" Variant="Variant.Outline">Secondary outline</BitButton>
                    <BitButton Color="Color.Secondary" Disabled="true">Secondary disabled</BitButton>
                    <BitButton Color="Color.Secondary" Variant="Variant.Outline" Disabled="true">Secondary outline disabled</BitButton>
                </div>
                <div class="mb-2">
                    <BitButton Color="Color.Success">Success</BitButton>
                    <BitButton Color="Color.Success" Variant="Variant.Outline">Success outline</BitButton>
                    <BitButton Color="Color.Success" Disabled="true">Success disabled</BitButton>
                    <BitButton Color="Color.Success" Variant="Variant.Outline" Disabled="true">Success outline disabled</BitButton>
                </div>
                <div class="mb-2">
                    <BitButton Color="Color.Danger">Danger</BitButton>
                    <BitButton Color="Color.Danger" Variant="Variant.Outline">Danger outline</BitButton>
                    <BitButton Color="Color.Danger" Disabled="true">Danger disabled</BitButton>
                    <BitButton Color="Color.Danger" Variant="Variant.Outline" Disabled="true">Danger outline disabled</BitButton>
                </div>
                <div class="mb-2">
                    <BitButton Color="Color.Warning">Warning</BitButton>
                    <BitButton Color="Color.Warning" Variant="Variant.Outline">Warning outline</BitButton>
                    <BitButton Color="Color.Warning" Disabled="true">Warning disabled</BitButton>
                    <BitButton Color="Color.Warning" Variant="Variant.Outline" Disabled="true">Warning outline disabled</BitButton>
                </div>
            </div>
        </Template>
    </Story>

    <Story Name="Colors with dark background">
        <Template>
            <div class="bg-dark py-2 px-2">
                <div class="mb-2">
                    <BitButton Color="Color.Primary">Primary</BitButton>
                    <BitButton Color="Color.Primary" Variant="Variant.Outline">Primary outline</BitButton>
                    <BitButton Color="Color.Primary" Disabled="true">Primary disabled</BitButton>
                    <BitButton Color="Color.Primary" Variant="Variant.Outline" Disabled="true">Primary outline disabled</BitButton>
                </div>
                <div class="mb-2">
                    <BitButton Color="Color.Secondary">Secondary</BitButton>
                    <BitButton Color="Color.Secondary" Variant="Variant.Outline">Secondary outline</BitButton>
                    <BitButton Color="Color.Secondary" Disabled="true">Secondary disabled</BitButton>
                    <BitButton Color="Color.Secondary" Variant="Variant.Outline" Disabled="true">Secondary outline disabled</BitButton>
                </div>
                <div class="mb-2">
                    <BitButton Color="Color.Success">Success</BitButton>
                    <BitButton Color="Color.Success" Variant="Variant.Outline">Success outline</BitButton>
                    <BitButton Color="Color.Success" Disabled="true">Success disabled</BitButton>
                    <BitButton Color="Color.Success" Variant="Variant.Outline" Disabled="true">Success outline disabled</BitButton>
                </div>
                <div class="mb-2">
                    <BitButton Color="Color.Danger">Danger</BitButton>
                    <BitButton Color="Color.Danger" Variant="Variant.Outline">Danger outline</BitButton>
                    <BitButton Color="Color.Danger" Disabled="true">Danger disabled</BitButton>
                    <BitButton Color="Color.Danger" Variant="Variant.Outline" Disabled="true">Danger outline disabled</BitButton>
                </div>
                <div class="mb-2">
                    <BitButton Color="Color.Warning">Warning</BitButton>
                    <BitButton Color="Color.Warning" Variant="Variant.Outline">Warning outline</BitButton>
                    <BitButton Color="Color.Warning" Disabled="true">Warning disabled</BitButton>
                    <BitButton Color="Color.Warning" Variant="Variant.Outline" Disabled="true">Warning outline disabled</BitButton>
                </div>
            </div>
        </Template>
    </Story>

    <Story Name="Sizes">
        <Template>
            <div class="px-2 py-2">
                <div class="mb-2">
                    <BitButton Color="Color.Primary" Size="Size.Large">Primary large</BitButton>
                    <BitButton Color="Color.Secondary" Size="Size.Large">Secondary large</BitButton>
                </div>
                <div class="mb-2">
                    <BitButton Color="Color.Primary" Size="Size.Small">Primary small</BitButton>
                    <BitButton Color="Color.Secondary" Size="Size.Small">Secondary small</BitButton>
                </div>
                <div class="mb-2">
                    <BitButton Color="Color.Primary" Size="Size.Mini">Primary mini</BitButton>
                    <BitButton Color="Color.Secondary" Size="Size.Mini">Secondary mini</BitButton>
                </div>
            </div>
        </Template>
    </Story>

    <Story Name="Icons">
        <Template>
            <div class="px-2 py-2">
                <BitButton Color="Color.Success"
                           Size="Size.Large"
                           Icon="@BitBlazor.Utilities.Icons.ItStarFull"
                           IconPosition="IconPosition.End">
                    <span>Icon button large</span>
                </BitButton>

                <BitButton Color="Color.Primary"
                           Icon="@BitBlazor.Utilities.Icons.ItStarFull"
                           IconPosition="IconPosition.End">
                    <span>Icon button</span>
                </BitButton>

                <BitButton Color="Color.Danger"
                           Size="Size.Small"
                           Icon="@BitBlazor.Utilities.Icons.ItStarFull"
                           IconPosition="IconPosition.End">
                    <span>Icon button small</span>
                </BitButton>

                <BitButton Color="Color.Secondary"
                           Size="Size.Mini"
                           Icon="@BitBlazor.Utilities.Icons.ItStarFull"
                           IconPosition="IconPosition.End">
                    <span>Icon extra small</span>
                </BitButton>
            </div>
        </Template>
    </Story>

    <Story Name="Rounded icons">
        <Template>
            <div class="px-2 py-2">
                <BitButton Color="Color.Success"
                           Size="Size.Large"
                           Icon="@BitBlazor.Utilities.Icons.ItUser"
                           IconPosition="IconPosition.Start"
                           IconRounded="true">
                    <span>Round Icon large</span>
                </BitButton>

                <BitButton Color="Color.Primary"
                           Icon="@BitBlazor.Utilities.Icons.ItUser"
                           IconPosition="IconPosition.Start"
                           IconRounded="true">
                    <span>Round Icon</span>
                </BitButton>

                <BitButton Color="Color.Danger"
                           Size="Size.Small"
                           Icon="@BitBlazor.Utilities.Icons.ItUser"
                           IconPosition="IconPosition.Start"
                           IconRounded="true">
                    <span>Round Icon small</span>
                </BitButton>

                <BitButton Color="Color.Secondary"
                           Size="Size.Mini"
                           Icon="@BitBlazor.Utilities.Icons.ItUser"
                           IconPosition="IconPosition.Start"
                           IconRounded="true">
                    <span>Round Icon extra small</span>
                </BitButton>
            </div>
        </Template>
    </Story>

</Stories>