@attribute [Stories("Components/BitModal")]

@using BitBlazor.Components

<Stories TComponent="BitModal">
    <ArgType For="_ => _.Title" />
    <ArgType For="_ => _.Size" Control="ControlType.Select" DefaultValue="ModalSize.Default" />
    <ArgType For="_ => _.Position" Control="ControlType.Select" DefaultValue="ModalPosition.Default" />
    <ArgType For="_ => _.Type" Control="ControlType.Select" DefaultValue="ModalType.Default" />
    <ArgType For="_ => _.Backdrop" Control="ControlType.Select" DefaultValue="ModalBackdrop.Default" />
    <ArgType For="_ => _.ShowCloseButton" />
    <ArgType For="_ => _.ScrollableContent" />
    <ArgType For="_ => _.FooterShadow" />
    <ArgType For="_ => _.Fade" />

    <Story Name="Default">
        <Arguments>
            <Arg For="_ => _.Title" Value="@("Modal header")" />
            <Arg For="_ => _.Size" Value="ModalSize.Default" />
            <Arg For="_ => _.Position" Value="ModalPosition.Default" />
            <Arg For="_ => _.Type" Value="ModalType.Default" />
            <Arg For="_ => _.Backdrop" Value="ModalBackdrop.Default" />
            <Arg For="_ => _.ShowCloseButton" Value="true" />
            <Arg For="_ => _.ScrollableContent" Value="false" />
            <Arg For="_ => _.FooterShadow" Value="false" />
            <Arg For="_ => _.Fade" Value="true" />
        </Arguments>
        <Template>
            <div class="p-3">
                <button class="btn btn-primary" type="button" @onclick="() => model.DefaultVisible = true">
                    Open modal
                </button>
                <BitModal @bind-IsVisible="model.DefaultVisible" @attributes="context.Args" Id="story-modal-default"
                          AriaDescribedById="story-modal-default-desc">
                    <BodyContent>
                        <p id="story-modal-default-desc">Description of the modal's purpose.</p>
                        <p>Font Titillium 16px. Leading 24px. omnis iste natus error sit voluptatem accusantium.</p>
                    </BodyContent>
                    <FooterContent>
                        <button class="btn btn-outline-primary btn-sm" type="button" @onclick="() => model.DefaultVisible = false">Cancel</button>
                        <button class="btn btn-primary btn-sm" type="button" @onclick="() => model.DefaultVisible = false">Action 1</button>
                    </FooterContent>
                </BitModal>
            </div>
        </Template>
    </Story>

    <Story Name="With close button">
        <Arguments>
            <Arg For="_ => _.Title" Value="@("Modal header")" />
            <Arg For="_ => _.Size" Value="ModalSize.Default" />
            <Arg For="_ => _.Position" Value="ModalPosition.Default" />
            <Arg For="_ => _.Type" Value="ModalType.Default" />
            <Arg For="_ => _.Backdrop" Value="ModalBackdrop.Default" />
            <Arg For="_ => _.ShowCloseButton" Value="true" />
            <Arg For="_ => _.ScrollableContent" Value="false" />
            <Arg For="_ => _.FooterShadow" Value="false" />
            <Arg For="_ => _.Fade" Value="true" />
        </Arguments>
        <Template>
            <div class="p-3">
                <button class="btn btn-primary" type="button" @onclick="() => model.CloseButtonVisible = true">
                    Open modal
                </button>
                <BitModal @bind-IsVisible="model.CloseButtonVisible" @attributes="context.Args" Id="story-modal-closeable"
                          CloseButtonAriaLabel="Close this window">
                    <BodyContent>
                        <p>The modal can be closed by clicking the X button in the header.</p>
                    </BodyContent>
                    <FooterContent>
                        <button class="btn btn-outline-primary btn-sm" type="button" @onclick="() => model.CloseButtonVisible = false">Cancel</button>
                        <button class="btn btn-primary btn-sm" type="button" @onclick="() => model.CloseButtonVisible = false">Action 1</button>
                    </FooterContent>
                </BitModal>
            </div>
        </Template>
    </Story>

    <Story Name="Sizes - Small">
        <Arguments>
            <Arg For="_ => _.Title" Value="@("Small modal")" />
            <Arg For="_ => _.Size" Value="ModalSize.Small" />
            <Arg For="_ => _.Position" Value="ModalPosition.Default" />
            <Arg For="_ => _.Type" Value="ModalType.Default" />
            <Arg For="_ => _.Backdrop" Value="ModalBackdrop.Default" />
            <Arg For="_ => _.ShowCloseButton" Value="true" />
            <Arg For="_ => _.ScrollableContent" Value="false" />
            <Arg For="_ => _.FooterShadow" Value="false" />
            <Arg For="_ => _.Fade" Value="true" />
        </Arguments>
        <Template>
            <div class="p-3">
                <button class="btn btn-primary" type="button" @onclick="() => model.SizeSmallVisible = true">
                    Open modal
                </button>
                <BitModal @bind-IsVisible="model.SizeSmallVisible" @attributes="context.Args" CloseButtonAriaLabel="Close">
                    <BodyContent>
                        <p>This is an example of a small modal.</p>
                    </BodyContent>
                    <FooterContent>
                        <button class="btn btn-primary btn-sm" type="button" @onclick="() => model.SizeSmallVisible = false">OK</button>
                    </FooterContent>
                </BitModal>
            </div>
        </Template>
    </Story>

    <Story Name="Sizes - Large">
        <Arguments>
            <Arg For="_ => _.Title" Value="@("Large modal")" />
            <Arg For="_ => _.Size" Value="ModalSize.Large" />
            <Arg For="_ => _.Position" Value="ModalPosition.Default" />
            <Arg For="_ => _.Type" Value="ModalType.Default" />
            <Arg For="_ => _.Backdrop" Value="ModalBackdrop.Default" />
            <Arg For="_ => _.ShowCloseButton" Value="true" />
            <Arg For="_ => _.ScrollableContent" Value="false" />
            <Arg For="_ => _.FooterShadow" Value="false" />
            <Arg For="_ => _.Fade" Value="true" />
        </Arguments>
        <Template>
            <div class="p-3">
                <button class="btn btn-primary" type="button" @onclick="() => model.SizeLargeVisible = true">
                    Open modal
                </button>
                <BitModal @bind-IsVisible="model.SizeLargeVisible" @attributes="context.Args" CloseButtonAriaLabel="Close">
                    <BodyContent>
                        <p>This is an example of a large modal.</p>
                    </BodyContent>
                    <FooterContent>
                        <button class="btn btn-primary btn-sm" type="button" @onclick="() => model.SizeLargeVisible = false">OK</button>
                    </FooterContent>
                </BitModal>
            </div>
        </Template>
    </Story>

    <Story Name="Sizes - Extra Large">
        <Arguments>
            <Arg For="_ => _.Title" Value="@("Extra large modal")" />
            <Arg For="_ => _.Size" Value="ModalSize.ExtraLarge" />
            <Arg For="_ => _.Position" Value="ModalPosition.Default" />
            <Arg For="_ => _.Type" Value="ModalType.Default" />
            <Arg For="_ => _.Backdrop" Value="ModalBackdrop.Default" />
            <Arg For="_ => _.ShowCloseButton" Value="true" />
            <Arg For="_ => _.ScrollableContent" Value="false" />
            <Arg For="_ => _.FooterShadow" Value="false" />
            <Arg For="_ => _.Fade" Value="true" />
        </Arguments>
        <Template>
            <div class="p-3">
                <button class="btn btn-primary" type="button" @onclick="() => model.SizeXLVisible = true">
                    Open modal
                </button>
                <BitModal @bind-IsVisible="model.SizeXLVisible" @attributes="context.Args" CloseButtonAriaLabel="Close">
                    <BodyContent>
                        <p>This is an example of an extra large modal.</p>
                    </BodyContent>
                    <FooterContent>
                        <button class="btn btn-primary btn-sm" type="button" @onclick="() => model.SizeXLVisible = false">OK</button>
                    </FooterContent>
                </BitModal>
            </div>
        </Template>
    </Story>

    <Story Name="Position - Centered">
        <Arguments>
            <Arg For="_ => _.Title" Value="@("Centered modal")" />
            <Arg For="_ => _.Size" Value="ModalSize.Default" />
            <Arg For="_ => _.Position" Value="ModalPosition.Centered" />
            <Arg For="_ => _.Type" Value="ModalType.Default" />
            <Arg For="_ => _.Backdrop" Value="ModalBackdrop.Default" />
            <Arg For="_ => _.ShowCloseButton" Value="true" />
            <Arg For="_ => _.ScrollableContent" Value="false" />
            <Arg For="_ => _.FooterShadow" Value="false" />
            <Arg For="_ => _.Fade" Value="true" />
        </Arguments>
        <Template>
            <div class="p-3">
                <button class="btn btn-primary" type="button" @onclick="() => model.CenteredVisible = true">
                    Open modal
                </button>
                <BitModal @bind-IsVisible="model.CenteredVisible" @attributes="context.Args" CloseButtonAriaLabel="Close">
                    <BodyContent>
                        <p>The modal is vertically centered in the viewport.</p>
                    </BodyContent>
                    <FooterContent>
                        <button class="btn btn-primary btn-sm" type="button" @onclick="() => model.CenteredVisible = false">OK</button>
                    </FooterContent>
                </BitModal>
            </div>
        </Template>
    </Story>

    <Story Name="Position - Left">
        <Arguments>
            <Arg For="_ => _.Title" Value="@("Left modal")" />
            <Arg For="_ => _.Size" Value="ModalSize.Default" />
            <Arg For="_ => _.Position" Value="ModalPosition.Left" />
            <Arg For="_ => _.Type" Value="ModalType.Default" />
            <Arg For="_ => _.Backdrop" Value="ModalBackdrop.Default" />
            <Arg For="_ => _.ShowCloseButton" Value="true" />
            <Arg For="_ => _.ScrollableContent" Value="false" />
            <Arg For="_ => _.FooterShadow" Value="false" />
            <Arg For="_ => _.Fade" Value="true" />
        </Arguments>
        <Template>
            <div class="p-3">
                <button class="btn btn-primary" type="button" @onclick="() => model.LeftVisible = true">
                    Open modal
                </button>
                <BitModal @bind-IsVisible="model.LeftVisible" @attributes="context.Args" CloseButtonAriaLabel="Close">
                    <BodyContent>
                        <p>The modal opens from the left and takes up the full available height.</p>
                    </BodyContent>
                </BitModal>
            </div>
        </Template>
    </Story>

    <Story Name="Position - Right">
        <Arguments>
            <Arg For="_ => _.Title" Value="@("Right modal")" />
            <Arg For="_ => _.Size" Value="ModalSize.Default" />
            <Arg For="_ => _.Position" Value="ModalPosition.Right" />
            <Arg For="_ => _.Type" Value="ModalType.Default" />
            <Arg For="_ => _.Backdrop" Value="ModalBackdrop.Default" />
            <Arg For="_ => _.ShowCloseButton" Value="true" />
            <Arg For="_ => _.ScrollableContent" Value="false" />
            <Arg For="_ => _.FooterShadow" Value="false" />
            <Arg For="_ => _.Fade" Value="true" />
        </Arguments>
        <Template>
            <div class="p-3">
                <button class="btn btn-primary" type="button" @onclick="() => model.RightVisible = true">
                    Open modal
                </button>
                <BitModal @bind-IsVisible="model.RightVisible" @attributes="context.Args" CloseButtonAriaLabel="Close">
                    <BodyContent>
                        <p>The modal opens from the right and takes up the full available height.</p>
                    </BodyContent>
                </BitModal>
            </div>
        </Template>
    </Story>

    <Story Name="Type - Alert (with icon)">
        <Arguments>
            <Arg For="_ => _.Title" Value="@((string?)null)" />
            <Arg For="_ => _.Size" Value="ModalSize.Default" />
            <Arg For="_ => _.Position" Value="ModalPosition.Default" />
            <Arg For="_ => _.Type" Value="ModalType.Alert" />
            <Arg For="_ => _.Backdrop" Value="ModalBackdrop.Default" />
            <Arg For="_ => _.ShowCloseButton" Value="false" />
            <Arg For="_ => _.ScrollableContent" Value="false" />
            <Arg For="_ => _.FooterShadow" Value="false" />
            <Arg For="_ => _.Fade" Value="true" />
        </Arguments>
        <Template>
            <div class="p-3">
                <button class="btn btn-primary" type="button" @onclick="() => model.AlertVisible = true">
                    Open modal
                </button>
                <BitModal @bind-IsVisible="model.AlertVisible" @attributes="context.Args" AriaLabel="Notification message">
                    <HeaderContent>
                        <div class="d-flex align-items-center">
                            <BitIcon IconName="@Icons.ItWarningCircle" CssClass="me-2" />
                            <h2 class="modal-title h5 mb-0">This is a notification message</h2>
                        </div>
                    </HeaderContent>
                    <BodyContent>
                        <p>In this case, a confirmation button and a close button are provided.</p>
                    </BodyContent>
                    <FooterContent>
                        <button class="btn btn-primary btn-sm" type="button" @onclick="() => model.AlertVisible = false">OK</button>
                    </FooterContent>
                </BitModal>
            </div>
        </Template>
    </Story>

    <Story Name="Type - Popconfirm (basic)">
        <Arguments>
            <Arg For="_ => _.Title" Value="@((string?)null)" />
            <Arg For="_ => _.Size" Value="ModalSize.Default" />
            <Arg For="_ => _.Position" Value="ModalPosition.Default" />
            <Arg For="_ => _.Type" Value="ModalType.Popconfirm" />
            <Arg For="_ => _.Backdrop" Value="ModalBackdrop.Default" />
            <Arg For="_ => _.ShowCloseButton" Value="false" />
            <Arg For="_ => _.ScrollableContent" Value="false" />
            <Arg For="_ => _.FooterShadow" Value="false" />
            <Arg For="_ => _.Fade" Value="true" />
        </Arguments>
        <Template>
            <div class="p-3">
                <button class="btn btn-primary" type="button" @onclick="() => model.PopconfirmBasicVisible = true">
                    Open modal
                </button>
                <BitModal @bind-IsVisible="model.PopconfirmBasicVisible" @attributes="context.Args" AriaLabel="Confirm action">
                    <BodyContent>
                        <p>Font Titillium 14px. Leading 21px. Are you sure you want to proceed?</p>
                    </BodyContent>
                    <FooterContent>
                        <button class="btn btn-outline-primary btn-sm" type="button" @onclick="() => model.PopconfirmBasicVisible = false">Cancel</button>
                        <button class="btn btn-primary btn-sm" type="button" @onclick="() => model.PopconfirmBasicVisible = false">Confirm</button>
                    </FooterContent>
                </BitModal>
            </div>
        </Template>
    </Story>

    <Story Name="Type - Popconfirm (with header)">
        <Arguments>
            <Arg For="_ => _.Title" Value="@("Popconfirm header")" />
            <Arg For="_ => _.Size" Value="ModalSize.Default" />
            <Arg For="_ => _.Position" Value="ModalPosition.Default" />
            <Arg For="_ => _.Type" Value="ModalType.Popconfirm" />
            <Arg For="_ => _.Backdrop" Value="ModalBackdrop.Default" />
            <Arg For="_ => _.ShowCloseButton" Value="false" />
            <Arg For="_ => _.ScrollableContent" Value="false" />
            <Arg For="_ => _.FooterShadow" Value="false" />
            <Arg For="_ => _.Fade" Value="true" />
        </Arguments>
        <Template>
            <div class="p-3">
                <button class="btn btn-primary" type="button" @onclick="() => model.PopconfirmHeaderVisible = true">
                    Open modal
                </button>
                <BitModal @bind-IsVisible="model.PopconfirmHeaderVisible" @attributes="context.Args">
                    <BodyContent>
                        <p>Font Titillium 14px. Leading 21px. Are you sure you want to proceed?</p>
                    </BodyContent>
                    <FooterContent>
                        <button class="btn btn-outline-primary btn-sm" type="button" @onclick="() => model.PopconfirmHeaderVisible = false">Cancel</button>
                        <button class="btn btn-primary btn-sm" type="button" @onclick="() => model.PopconfirmHeaderVisible = false">Confirm</button>
                    </FooterContent>
                </BitModal>
            </div>
        </Template>
    </Story>

    <Story Name="No header">
        <Arguments>
            <Arg For="_ => _.Title" Value="@((string?)null)" />
            <Arg For="_ => _.Size" Value="ModalSize.Default" />
            <Arg For="_ => _.Position" Value="ModalPosition.Default" />
            <Arg For="_ => _.Type" Value="ModalType.Default" />
            <Arg For="_ => _.Backdrop" Value="ModalBackdrop.Default" />
            <Arg For="_ => _.ShowCloseButton" Value="false" />
            <Arg For="_ => _.ScrollableContent" Value="false" />
            <Arg For="_ => _.FooterShadow" Value="false" />
            <Arg For="_ => _.Fade" Value="true" />
        </Arguments>
        <Template>
            <div class="p-3">
                <button class="btn btn-primary" type="button" @onclick="() => model.NoHeaderVisible = true">
                    Open modal
                </button>
                <BitModal @bind-IsVisible="model.NoHeaderVisible" @attributes="context.Args" AriaLabel="Window without header">
                    <BodyContent>
                        <p>This modal has no header. Use <code>ShowCloseButton="false"</code> and do not set <code>Title</code> or <code>HeaderContent</code>.
                        </p>
                    </BodyContent>
                    <FooterContent>
                        <button class="btn btn-primary btn-sm" type="button" @onclick="() => model.NoHeaderVisible = false">Close</button>
                    </FooterContent>
                </BitModal>
            </div>
        </Template>
    </Story>

    <Story Name="Scrollable content">
        <Arguments>
            <Arg For="_ => _.Title" Value="@("Modal with scrollable content")" />
            <Arg For="_ => _.Size" Value="ModalSize.Default" />
            <Arg For="_ => _.Position" Value="ModalPosition.Default" />
            <Arg For="_ => _.Type" Value="ModalType.Default" />
            <Arg For="_ => _.Backdrop" Value="ModalBackdrop.Default" />
            <Arg For="_ => _.ShowCloseButton" Value="true" />
            <Arg For="_ => _.ScrollableContent" Value="true" />
            <Arg For="_ => _.FooterShadow" Value="true" />
            <Arg For="_ => _.Fade" Value="true" />
        </Arguments>
        <Template>
            <div class="p-3">
                <button class="btn btn-primary" type="button" @onclick="() => model.ScrollableVisible = true">
                    Open modal
                </button>
                <BitModal @bind-IsVisible="model.ScrollableVisible" @attributes="context.Args" CloseButtonAriaLabel="Close">
                    <BodyContent>
                        <p>Very long text that causes the modal to scroll internally.</p>
                        @for (int i = 1; i <= 15; i++)
                        {
                            <p>Paragraph @i: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        }
                        </BodyContent>
                        <FooterContent>
                            <button class="btn btn-outline-primary btn-sm" type="button" @onclick="() => model.ScrollableVisible = false">Cancel</button>
                            <button class="btn btn-primary btn-sm" type="button" @onclick="() => model.ScrollableVisible = false">Confirm</button>
                        </FooterContent>
                    </BitModal>
                </div>
            </Template>
        </Story>

        <Story Name="Backdrop - Static">
            <Arguments>
                <Arg For="_ => _.Title" Value="@("Static backdrop")" />
                <Arg For="_ => _.Size" Value="ModalSize.Default" />
                <Arg For="_ => _.Position" Value="ModalPosition.Default" />
                <Arg For="_ => _.Type" Value="ModalType.Default" />
                <Arg For="_ => _.Backdrop" Value="ModalBackdrop.Static" />
                <Arg For="_ => _.ShowCloseButton" Value="true" />
                <Arg For="_ => _.ScrollableContent" Value="false" />
                <Arg For="_ => _.FooterShadow" Value="false" />
                <Arg For="_ => _.Fade" Value="true" />
            </Arguments>
            <Template>
                <div class="p-3">
                    <button class="btn btn-primary" type="button" @onclick="() => model.StaticBackdropVisible = true">
                        Open modal
                    </button>
                    <BitModal @bind-IsVisible="model.StaticBackdropVisible" @attributes="context.Args" CloseButtonAriaLabel="Close">
                        <BodyContent>
                            <p>With <code>Backdrop="ModalBackdrop.Static"</code>, clicking the background does not close the modal.</p>
                        </BodyContent>
                        <FooterContent>
                            <button class="btn btn-outline-primary btn-sm" type="button" @onclick="() => model.StaticBackdropVisible = false">Cancel</button>
                            <button class="btn btn-primary btn-sm" type="button" @onclick="() => model.StaticBackdropVisible = false">OK</button>
                        </FooterContent>
                    </BitModal>
                </div>
            </Template>
        </Story>

        <Story Name="No animation (fade disabled)">
            <Arguments>
                <Arg For="_ => _.Title" Value="@("Modal without animation")" />
                <Arg For="_ => _.Size" Value="ModalSize.Default" />
                <Arg For="_ => _.Position" Value="ModalPosition.Default" />
                <Arg For="_ => _.Type" Value="ModalType.Default" />
                <Arg For="_ => _.Backdrop" Value="ModalBackdrop.Default" />
                <Arg For="_ => _.ShowCloseButton" Value="true" />
                <Arg For="_ => _.ScrollableContent" Value="false" />
                <Arg For="_ => _.FooterShadow" Value="false" />
                <Arg For="_ => _.Fade" Value="false" />
            </Arguments>
            <Template>
                <div class="p-3">
                    <button class="btn btn-primary" type="button" @onclick="() => model.NoFadeVisible = true">
                        Open modal
                    </button>
                    <BitModal @bind-IsVisible="model.NoFadeVisible" @attributes="context.Args" CloseButtonAriaLabel="Close">
                        <BodyContent>
                            <p>The <code>fade</code> class is not applied, so there is no fade animation.</p>
                        </BodyContent>
                        <FooterContent>
                            <button class="btn btn-primary btn-sm" type="button" @onclick="() => model.NoFadeVisible = false">OK</button>
                        </FooterContent>
                    </BitModal>
                </div>
            </Template>
        </Story>
    </Stories>

@code {
    private ViewModel model = new();

    class ViewModel
    {
        public bool DefaultVisible { get; set; }
        public bool CloseButtonVisible { get; set; }
        public bool SizeSmallVisible { get; set; }
        public bool SizeLargeVisible { get; set; }
        public bool SizeXLVisible { get; set; }
        public bool CenteredVisible { get; set; }
        public bool LeftVisible { get; set; }
        public bool RightVisible { get; set; }
        public bool AlertVisible { get; set; }
        public bool PopconfirmBasicVisible { get; set; }
        public bool PopconfirmHeaderVisible { get; set; }
        public bool NoHeaderVisible { get; set; }
        public bool ScrollableVisible { get; set; }
        public bool StaticBackdropVisible { get; set; }
        public bool NoFadeVisible { get; set; }
    }
}