@namespace BitBlazor.Components

<li>
    <a href="#" class="@ComputeLinkCssClass()" disabled="@Disabled" @attributes="attributes">
        <BitIcon IconName="@IconName" />
        <span class="@ComputeLabelCssClass()">@Label</span>
    </a>
</li>
